<!-- <div class="animated hinge delay-19s"> -->
<div class="wrap">
 <div class="type-wrap">
    <div id="typed-strings">
      <span>My name is Arkadiusz Kuczorski.</span>
      <p>I'm<strong> cloud computing</strong> enthusiast </p>
      <p>and seasoned <strong>manager</strong>.</p>
      <p> To reach me out</p>
      <p> please connect via <strong>LinkedIn</strong></p>
      <p>or fill out "Get in touch" <strong>form</strong> .</p>
      <p> <strong>Nice </strong>to meet you ! :-)</p>
    </div>
    <span id="typed" style="white-space:pre;"></span>
 </div>
 </div>
<!-- </div> -->