---
layout: post
title:  "Nobody’s born smart"
subtitle: "We all start at 0. Can’t talk, can’t walk, certainly can’t do algebra. "
date:   2017-08-04 23:45:13 +0100
background: '/img/posts/01.jpg'
---



{% capture rt_page1 %}
{% include read-time.html %}
{% endcapture %}



{% include read-time.html %}




<br>
<p class="text-justify" style="text-indent: 10%; "> "Nobody’s born smart. We all start at 0. Can’t talk, can’t walk, certainly can’t do algebra.  Adding, reading, writing, riding a bike. Nobody’s good at anything at first.  There was a time when Einstein couldn’t count to 10.  And Shakespeare had to learn his ABCs just like the rest of us.  Thankfully, we are born to learn.  Slowly. Surely. You stumble, slip, crawl, fall and fail and fall.  Frustrating. Confusing. Trying. Struggling.  Until one day, you walk.  One foot in front of the other. One idea on top of the next.  Each wrong answer making your brain a little bit stronger.  Failing is just another word for growing. And you keep going.  <em>This is learning.</em>  It’s not that you don’t get it.  You just don’t get it, yet. Because the most beautiful, complex concepts in the whole universe are built on basic ideas that anyone, anywhere can understand.  Whoever you are, wherever you are. 
You only have to know one thing:  <strong>You can learn anything</strong>."</p> 
