---
layout: default
---

<!-- Page Header -->
{% if page.background %}
  <header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
    <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- <h1><a class="nav-link text-white" href="{{"/posts-business" | relative_url }}">Business</a> & <a class="nav-link text-white" href="{{"/posts-technology" | relative_url }}">Technology</a></h1> -->
            <h2>Business & Technology</h2>
            {% if site.description %}
              <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
<br><br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

<!-- 
        <div class="col-lg-40 col-xl-10 mx-auto">  Nobody’s born smart. We all start at 0. Can’t talk, can’t walk, certainly can’t do algebra.  Adding, reading, writing, riding a bike. Nobody’s good at anything at first.  There was a time when Einstein couldn’t count to 10.  And Shakespeare had to learn his ABCs just like the rest of us.  Thankfully, we are born to learn.  Slowly. Surely. You stumble, slip, crawl, fall and fail and fall.  Frustrating. Confusing. Trying. Struggling.  Until one day, you walk.  One foot in front of the other. One idea on top of the next.  Each wrong answer making your brain a little bit stronger.  Failing is just another word for growing. And you keep going.  <em>This is learning.</em>  It’s not that you don’t get it.  You just don’t get it, yet. Because the most beautiful, complex concepts in the whole universe are built on basic ideas that anyone, anywhere can understand. Whoever you are, wherever you are. 
You only have to know one thing:  <bold>You can learn anything</bold> </div> -->

        <!-- Home Post List -->
        {% for post in site.posts limit : 5 %}

          <article class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
              <h2 class="post-title">{{ post.title }}</h2>
              {% if post.subtitle %}
                <h3 class="post-subtitle">{{ post.subtitle }}</h3>
              {% else %}
                <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
              {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if post.author %}
                {{ post.author }}
              {% else %}
                {{ site.author }}
              {% endif %}
              on
              {{ post.date | date: '%B %d, %Y' }}</p>
          </article>

          <hr>

        {% endfor %}

        <!-- Pager -->
        <!-- <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div> -->

      </div>
    </div>
  




